@font-face {
  font-family: 'ArnoPro';
  src: url('fonts/arnoprolightdisplay.eot');
  src: url('fonts/arnoprolightdisplay.eot?#iefix') format('embedded-opentype'),
       url('fonts/arnoprolightdisplay.woff') format('woff'),
       url('fonts/arnoprolightdisplay.ttf') format('truetype'),
       url('fonts/arnoprolightdisplay.svg#arnoprolightdisplay') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArnoPro';
  src: url('fonts/arnoprolightitalicdisplay.eot');
  src: url('fonts/arnoprolightitalicdisplay.eot?#iefix') format('embedded-opentype'),
       url('fonts/arnoprolightitalicdisplay.woff') format('woff'),
       url('fonts/arnoprolightitalicdisplay.ttf') format('truetype'),
       url('fonts/arnoprolightitalicdisplay.svg#arnoprolightitalicdisplay') format('svg');
  font-weight: normal;
  font-style: italic;
}