.icons() {
  display:block;
  background: url(i/image.png) no-repeat;
  border:none;
}
.icon1() {
  width:18px;
  height:19px;
  background-position:0 0;
}
.icon2() {
  width:18px;
  height:19px;
  background-position:0 -19px;
}
.icon3() {
  width:173px;
  height:40px;
  background-position:-18px 0;
}
.icon4() {
  width:12px;
  height:24px;
  background-position:0 -40px;
}
.icon5() {
  width:12px;
  height:24px;
  background-position:0 -64px;
}
.icon6() {
  width:12px;
  height:24px;
  background-position:0 -88px;
}
.icon7() {
  width:12px;
  height:24px;
  background-position:0 -112px;
}
.icon8() {
  width:18px;
  height:24px;
  background-position:-12px -40px;
}
.icon9() {
  width:18px;
  height:24px;
  background-position:-12px -64px;
}
.icon10() {
  width:18px;
  height:24px;
  background-position:-12px -88px;
}
.icon11() {
  width:18px;
  height:24px;
  background-position:-12px -112px;
}
.icon12() {
  width:10px;
  height:7px;
  background-position:-30px -40px;
}
.icon13() {
  width:81px;
  height:20px;
  background-position:-40px -40px;
}
.icon14() {
  width:33px;
  height:33px;
  background-position:-30px -60px;
}
.icon15() {
  width:33px;
  height:33px;
  background-position:-30px -93px;
}
.icon16() {
  width:21px;
  height:16px;
  background-position:-63px -60px;
}
.icon17() {
  width:15px;
  height:14px;
  background-position:-84px -60px;
}
.icon18() {
  width:15px;
  height:14px;
  background-position:-99px -60px;
}
