@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";
@import "less/icons.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  

*/

body {
  font:18px/1.22 'ArnoPro';
  .wrap {
    width:980px;
    margin:0 auto;
  }
}

header {
  .line {
    background:#000;
    color:#fff;
    height:41px;
    overflow:hidden;
    margin:0 0 43px;
    .text {
      float:left;
      font-size:24px;
      line-height:43px;
      small {
        font-size:12px;
      }
    }
    .social {
      float:right;
      margin:10px 0 0 0;
      a.twitter, a.facebook {
        float:left;
        margin:0 0 0 25px;
      }
      a.twitter {
        .icons();
        .icon4();
        &:hover {.icon5();}
      }
      a.facebook {
        .icons();
        .icon8();
        &:hover {.icon9();}
      }
    }
    form {
      float:right;
      input[type="text"] {
        float:left;
      }
      input[type="submit"] {
        float:left;
        .icons();
        .icon2();
      }
    }
  }
  a.logo {
    margin:0 auto 25px;
    .icons();
    .icon3();
  }
  hr {
    border:1px solid #ccc;
    border-width:0 0 1px;
    margin:0 100px;
  }
  ul.menu {
    text-align:center;
    border-bottom:2px solid #000;
    line-height:52px;
    margin:0 0 60px;
    li {
      display:inline-block;
      padding:0px 15px;
      text-transform:uppercase;
      a {
        text-decoration:none;
        color:#777;
        &:hover {
          color:#000;
        }
      }
    }
  }
}

footer {
  margin:110px 0 20px 0;
  a.logo {
    margin:0 auto 15px;
    .icons();
    .icon13();
  }
  hr {
    border:1px solid #ccc;
    border-width:0 0 1px;
    margin:0 100px;
  }
  ul.menu {
    text-align:center;
    line-height:40px;
    margin:0 0 20px;
    li {
      display:inline-block;
      padding:0px 12px;
      font-size:14px;
      text-transform:uppercase;
      a {
        text-decoration:none;
        color:#000;
        &:hover {
          color:#777;
        }
      }
    }
  }
  .social {
    text-align:center;
    margin:0 0 25px;
    a.twitter {
      .icons();
      .icon6();
      &:hover {.icon7();}
    }
    a.facebook {
      .icons();
      .icon10();
      &:hover {.icon11();}
    }
    a.twitter, a.facebook {
      display:inline-block;
      margin:0 10px;
    }
  }
  .copyright {
    text-align:center;
    margin:0 0 15px;
    a {color:#000;font-style:italic;}
  }
  a.top {
    margin:0 auto;
    .icons();
    .icon14();
    &:hover {.icon15();}
  }
}

aside {
  width:308px;
  float:right;
  .banner {
    background: url('i/bg.jpg') no-repeat left bottom;
    padding:31px 0 27px 0;
    margin:0 0 20px;
    img {
      display:block;
      width:240px;
      margin:0 auto;
    }
  }
  .block {
    margin:0 0 20px;
    .label {
      font:24px/40px 'ArnoPro';
      color:#000;
      text-transform:uppercase;
    }
  }
  .b_mini_articles {
    border-bottom:3px double #ccc;
    padding:0 0 20px;
  }
  .e_mini_article {
    border:1px solid #cecece;
    .box-shadow(0px 2px 10px rgba(0, 0, 0, 0.18));
    position:relative;
    margin:0 0 20px;
    img {
      width:100%;
      display:block;
    }
    p.date {
      text-align:right;
      font-size:14px;
      color:#777777;
      padding:3px 13px;
    }
    a.image {
      display:block;
      img {
        position:relative;
        z-index:900;
      }
      &:hover p.title {
        text-decoration:underline;
      }
      .data {
        position:absolute;
        bottom:40px;
        left:7px;
        z-index:1000;
        width:280px;
      }
      p {
        &.type {
          background:rgba(120, 70, 200, 0.8);
          display:inline-block;
          color:#fff;
          font-size:12px;
          font-variant:small-caps;
          padding:0 10px;
        }
        &.title {
          color:#fff;
          background:rgba(0, 0, 0, 0.8);
          font-size:24px;
          line-height:32px;
          padding:0 10px;
        }
      }
    }
  }
  .e_event {
    display:block;
    text-decoration:none;
    margin:20px 0 0;
    border-bottom:1px solid #000;
    padding:0 0 25px;
    &:last-child {
      border-bottom:none;
    }
    &:hover p.title {text-decoration:underline;}
    p.date {
      color:#9d9d9d;
      font-size:14px;
      line-height:16px;
      margin:0 0 10px;
      span.number {
        float:left;
        font-size:33px;
        line-height:33px;
        color:#7b3bca;
        padding:2px 7px 0 0;
      }
    }
    p.title {
      color:#000;
      font-size:20px;
      line-height:22px;
      margin-bottom:7px;
    }
    p.text {
      color:#666;
      font-size:16px;
      line-height:18px;
    }
  }
  .b_tags {
    border:1px solid #cecece;
    .box-shadow(0px 2px 10px rgba(0, 0, 0, 0.18));
    padding:8px 10px 5px;
    font-size:14px;
    line-height:24px;
    font-variant:small-caps;
    margin:0 0 30px;
    //text-align:justify;
    .label {
      padding:0px 10px;
    }
    a {
      color:#666;
      text-decoration:none;
      margin:0px 10px;
      white-space:nowrap;
      
      &:hover {
        border-bottom:1px solid #000;
        color:#000;
      }
    }
  }
  .e_comment {
    color:#777;
    margin:20px 0;
    padding:0 0 20px;
    border-bottom:1px solid #000;
    &:last-child {
      border-bottom:none;
    }
    dl {
      font-size:14px;
      line-height:22px;
      margin:0 0 15px;
      dd {
        float:left;
        width:105px;
      }
      dt {
        
      }
    }
    p {
      i {
        float:left;
        .icons();
        .icon16();
        margin:0 0 0 15px;
      }
      a {
        color:#000;
        display:block;
        margin:0 0 0 50px;
        font-style:italic;
        text-decoration:none;
        &:hover {
          text-decoration:underline;
        }
      }
    }
  }
}

section.content {
  float:left;
  width:645px;
}

article {
  margin:0 0 60px;
  .preview {
    .left {
      width:138px;
      float:left;
      text-align:right;
      font-variant:small-caps;
      font-size:14px;
      line-height:24px;
      padding:10px 0 0;
      a {color:#000;}
      a:hover {text-decoration:none;}
      hr {
        border:1px solid #000;
        border-width:0 0 1px;
        margin:20px 0 20px 80px;
      }
      p.type {
        background:#7b3bca;
        color:#fff;
        margin:0 -10px 10px 0;
        display:inline-block;
        padding:2px 10px 0px 20px;
        font-size:18px;
        position:relative;
        i {
          position:absolute;
          bottom:-7px;
          right:0px;
          .icons();
          .icon12();
        }
      }
      p.tags {
        margin:24px 0 0 0;
      }
      p.date {
        color:#777;
      }
    }
    .data {
      margin-left:170px;
      a {
        color:#000;
      }
      p {
        color:#666;
        margin:0 0 20px;
      }
      img {
        display:block;
        width:100%;
        margin:0 0 20px;
      }
      h4 {
        font-size:48px;
        font-style:italic;
        line-height:48px;
        margin:0 0 10px;
        a {
          color:#000;
          text-decoration:none;
          &:hover {
            text-decoration:underline;
          }
        }
      }
    }
  }
  .long {
    color:#666;
    strong {
      color:#000;
      font-size:20px;
    }
    a {
      color:#000;
    }
    i {
      font-style:italic;
      font-size:20px;
    }
    p {
      margin:0 0 20px;
    }
    img {
      display:block;
      width:100%;
      margin:0 0 20px;
    }
    ul {
      list-style:disc inside;
    }
    ol {
      list-style:decimal inside;
    }
    ul, ol {
      margin:0 0 20px;
      li {
        margin:0 0 10px;
      }
    }
    .total {
      color:#000;
      h5 {
        font-size:26px;
        margin:0 0 10px;
      }
    }
  }
}

.slider {
  border:1px solid #ccc;
  border-width:1px 0;
  overflow:hidden;
  position:relative;
  margin:0 0 40px;
  a.l, a.r {
    position:absolute;
    top:62px;
  }
  a.l {
    left:3px;
    .icons();
    .icon17();
  }
  a.r {
    right:3px;
    .icons();
    .icon18();
  }
  .p {
    margin:34px;
    overflow:hidden;
  }
  .w {
    width:10000px;
  }
  .slide {
    width:288.5px;
    float:left;
    img {
      float:left;
      .border-radius(200px);
      margin:0 15px 0 0;
    }
    a {
      color:#000;
      text-decoration:none;
      &:hover {color:#777;}
    }
  }
}

.comments {
  .label {
    font-size:30px;
    margin-bottom:50px;
  }
  .add_comment {
    .label {
      font-size:24px;
      margin:0 0 10px;
    }
    .field {
      margin:0 0 10px;
      label {
        width:100px;
        float:left;
        text-align:right;
        margin:8px 0 0;
      }
      &.b_btn {
        text-align:center;
      }
      input[type="submit"] {
        background:none;
        border:none;
        .vertical_gradient(#f4f4f4, #dfdfdf);
        display:inline-block;
        border:1px solid #c3c3c3;
        font:14px/1.22 'ArnoPro';
        text-transform:uppercase;
        padding:6px 10px 1px;
        .border-radius(5px);
        cursor:pointer;
        &:hover  {.vertical_gradient(#f4f4f4 + #111, #dfdfdf + #111);}
        &:active {.vertical_gradient(#f4f4f4 - #111, #dfdfdf - #111);}
      }
      .input {
        margin-left:115px;
        input[type="text"], textarea {
          width:100%;
          .box-sizing(border-box);
          border:1px solid #cdcdcd;
          font:18px/1.22 'ArnoPro';
          padding:5px 5px;
        }
      }
    }
  }
}







